.comment--form-container {
  border-bottom: 1px solid grey;
}

.comment-form {
  width: 60%;
  margin: auto;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.comment--form-header {
  text-align: center;
  color: var(--primary-dark-grey);
  margin-bottom: 2rem;
}

.comment--body-input {
  height: 15rem;
  font-size: 14px;
  line-height: 1.4;
  padding: 3px 5px;
}

.comment--form-btn {
  margin-top: 4rem;
  color: var(--primary-blue);
  background: var(--primary-white);
  width: 12rem;
  padding: 1rem;
  margin: 2rem auto;
  font-weight: 700;
  border-radius: 23px;
}

.hidden {
  display: none;
}

.not-hidden {
  display: block;
}

#blue-btn {
  background-image: linear-gradient(to right, #289dc5, #50b4be);
  color: var(--primary-white);
}
