body {
  background: #e8ebe4;
}

.app-container {
  background-image: linear-gradient(
    to bottom,
    #4381c1,
    #289dc5,
    #50b4be,
    #85c7b7,
    #b8d8ba
  );
  height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 500px) {
  .app-container {
    padding-top: 0;
  }
}
