.thing {
  --primary-dark-grey: #424b54;
  --primary-blue: #4381c1;
  --primary-green: #b8d8ba;
  --primary-red: #fe938c;
  --primary-white: #e8ebe4;
}

.header--container {
  background-color: #b8d8ba;
  position: relative;
}

.app--title {
  color: var(--primary-white);
  font-size: 4.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.sign--up-container {
  color: var(--primary-white);
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 23rem;
  top: 4.5rem;
  width: 150px;
}

.menu-content {
  font-family: "Oswald", sans-serif;
  padding: 0 0 0 5rem;
}

.collapsible--menu {
  background-color: var(--primary-blue);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0 3rem;
}

.collapsible--menu ul {
  list-style-type: none;
  padding: 0;
}

.collapsible--menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.collapsible--menu li {
  color: var(--primary-white);
}

.collapsible--menu label {
  background: url(../../resources/menu-open.svg) no-repeat left center;
  background-size: 26px;
  color: var(--primary-white);
  cursor: pointer;
  display: block;
  font-size: 45px;
  padding: 9px 0 10px 50px;
}

input#menu {
  display: none;
}

input:checked + label {
  background-image: url(../../resources/delete-button.svg);
}

.menu-content {
  font-family: "Oswald", sans-serif;
  max-height: 0;
  overflow: hidden;
  padding: 0 0 0 50px;
}

input:checked ~ label {
  background-image: url(../../resources/delete-button.svg);
}

input:checked ~ .menu-content {
  max-height: 100%;
}
