.header--container {
  position: relative;
}

.app--title {
  color: var(--primary-white);
  font-size: 4.5rem;
  font-weight: 400;
  left: 2rem;
  position: absolute;
  top: 1rem;
}

.sign--up-container {
  color: var(--primary-white);
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 5rem;
  top: 4.5rem;
  width: 150px;
}

.menu-content {
  font-family: "Oswald", sans-serif;
  padding: 0 0 0 5rem;
}

.collapsible--menu {
  background-color: var(--primary-blue);
}

.collapsible--menu ul {
  list-style-type: none;
  padding: 0;
}

.collapsible--menu a,
.collapsible--menu ul {
  display: block;
  margin-bottom: 1rem;
  padding-top: 1rem;
  margin-right: 2rem;
  text-decoration: none;
}

.collapsible--menu li {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  color: var(--primary-white);
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.collapsible--menu label {
  background: url(../../resources/menu-open.svg) no-repeat left center;
  background-size: 26px;
  color: var(--primary-white);
  cursor: pointer;
  display: block;
  font-size: 45px;
  padding: 9px 0 18px 50px;
  position: absolute;
  right: 1rem;
  top: 3rem;
  transition: 0.2s ease-in-out;
}

input#menu {
  display: none;
}

input:checked + label {
  background-image: url(../../resources/delete-button.svg);
}

.menu-content {
  display: flex;
  font-family: "Oswald", sans-serif;
  justify-content: flex-end;
  max-height: 0;
  overflow: hidden;
  padding: 0 0 0 50px;
  padding: 60px 16px 12px 50px;
  text-align: left;
}

.menu-link a {
  text-decoration: none;
  color: var(--primary-white);
}

input:checked ~ label {
  background-image: url(../../resources/delete-button.svg);
  transition: 0.2s ease-in-out;
}

input:checked ~ .menu-content {
  max-height: 100%;
}
