.header--container {
  position: relative;
}

.app--title {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: var(--primary-white);
  font-size: 4.5rem;
  font-weight: 400;
}

.sign--up-container {
  display: flex;
  width: 150px;
  justify-content: space-around;
  position: absolute;
  color: var(--primary-white);
  top: 4.5rem;
  right: 5rem;
}

.menu-content {
  font-family: "Oswald", sans-serif;
  padding: 0 0 0 5rem;
}

.collapsible--menu {
  background-color: var(--primary-blue);
}

.collapsible--menu ul {
  list-style-type: none;
  padding: 0;
}

.collapsible--menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.collapsible--menu li {
  color: var(--primary-white);
  cursor: pointer;
  animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.collapsible--menu label {
  font-size: 45px;
  display: block;
  cursor: pointer;
  background: url(../../resources/menu-open.svg) no-repeat left center;
  padding: 9px 0 18px 50px;
  color: var(--primary-white);
  background-size: 26px;
  position: absolute;
  top: 3rem;
  right: 1rem;
  transition: .2s ease-in-out;
}

input#menu {
  display: none;
}

input:checked + label {
  background-image: url(../../resources/delete-button.svg);
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  padding: 0 0 0 50px;
  padding: 60px 16px 12px 50px;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

input:checked ~ label {
  background-image: url(../../resources/delete-button.svg);
  transition: .2s ease-in-out;
}

input:checked ~ .menu-content {
  max-height: 100%;
}